apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: {{ k8s_droppy_namespace }}
  name: {{ k8s_droppy_ingress.name }}
{% if 'stage' in group_names %}
  annotations:
    {{ k8s_droppy_ingress.annotations | to_nice_yaml | indent }}
{% endif %}
spec:
  rules:
  - host: {{ k8s_droppy_fqdn }}
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ k8s_droppy_service }}
          servicePort: http
